<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Declare hardware features as optional to satisfy TV lint checks -->
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />
    <uses-feature android:name="android.software.leanback" android:required="true" />
    <uses-feature android:name="android.hardware.gamepad" android:required="false" />
    <uses-feature android:name="android.hardware.microphone" android:required="false" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />

    <application
        android:label="@string/app_name"
        android:theme="@style/Theme.Streamly.Splash">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:banner="@mipmap/ic_launcher"
            android:logo="@mipmap/ic_launcher"
            android:supportsPictureInPicture="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <!-- Standard launcher (phone/tablet) -->
                <category android:name="android.intent.category.LAUNCHER" />
                <!-- TV leanback launcher category so Android TV can surface the app -->
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
